string_mask = utf8only
[ req ]
distinguished_name           = req_distinguished_name
prompt                       = no
[ req_distinguished_name ]
countryName                  = C
stateOrProvinceName          = ST
localityName                 = LC
organizationName             = O
organizationalUnitName       = OU
commonName                   = CN
emailAddress                 = E
[ req_attributes ]
#challengePassword           = A challenge password
